.header {
  height: var(--header-height);
  background-image: linear-gradient(to bottom, #f53e2d, #fd6232);
}

.header__navbar {
  display: flex;
  justify-content: space-between;
}

.header__navbar-list {
  list-style: none;
  padding-left: 0;
  margin: 1px 0 0 0;
  display: flex;
}

.header__navbar-list--left {
  margin-top: 10px;
}

.header__navbar-item {
  margin: 0 8px;
  position: relative;
  min-height: 26px;
  display: flex;
}

.header__navbar-user {
  display: flex;
}

.header__navbar-user-img {
  width: 23px;
  height: 23px;
  background-color: rgba(255, 255, 255, 0.938);
  border-radius: 50%;
  margin-right: 2px;
  position: relative;
}

.header__navbar-user-menu {
  position: absolute;
  background-color: white;
  top: 115%;
  z-index: 1;
  box-shadow: 0 1px 3px rgb(183, 181, 181);
  width: 140px;
  height: 110px;
  right: 0;
  list-style: none;
  padding-left: 0;
  /* display: flex; */
  flex-direction: column;
  justify-content: space-around;
  border-radius: 3px;
  padding-top: 5px;
  padding-bottom: 5px;
  display: none;
}

.header__navbar-user:hover .header__navbar-user-menu {
  display: flex;
}

.header__navbar-user-menu::before {
  content: "";
  border: 15px solid;
  position: absolute;
  top: -27px;
  right: 30px;
  border-color: transparent transparent white transparent;
}

.header__navbar-user-item {
  color: var(--text-color);
  font-size: 15px;
  width: 86%;
  height: 100%;
  padding: 6px 10px;
}

.header__navbar-user-item--separate {
  border-top: 1px solid gray;
}

.header__navbar-user-item:hover {
  background-color: #99999933;
}

.header__navbar-icon-link {
  margin-left: 10px;
}

.header__navbar-icon-link i {
  color: white;
  font-size: 17px;
}

.header__navbar-icon-notify {
  width: 1rem;
  height: 1rem;
  padding: 2px;
}

.header__navbar-item {
  align-items: center;
  font-size: 0.9rem;
  color: var(--white-color);
  text-decoration: none;
  font-weight: 100;
  margin-bottom: 10px;
}

.header__navbar-item-link {
  margin-bottom: 0;
}

.header__navbar-item--has-hover:hover .header__qr {
  display: block;
}

.header__navbar-item--has-notify {
  margin-top: 0.001px;
}

.header__navbar-item--help {
  margin-top: 0.001px;
}

.header__navbar-item--has-notify:hover .header__notify {
  display: block;
}

.header__navbar-item:hover,
.header__navbar-item-link:hover {
  color: rgba(255, 255, 255, 0.7);
  cursor: pointer;
}

.header__navbar-item--strong {
  font-weight: 900;
}

.header__navbar-item--separate::after {
  content: "";
  display: block;
  position: absolute;
  border-left: 2px solid #fa867b;
  height: 12px;
  right: -9px;
  top: 50%;
  transform: translateY(-50%);
}

.header__navbar-item-link {
  color: var(--white-color);
  text-decoration: none;
}

.header__navbar-item--no-pointer {
  cursor: text;
  color: var(--white-color);
}

/* Header QR code */
.header__qr {
  box-shadow: 1px 2px 4px rgba(0, 0, 0, 0.2);
  background-color: var(--white-color);
  width: 185px;
  position: absolute;
  left: 0;
  top: 105%;
  padding: 5px;
  border-radius: 3px;
  display: none;
  z-index: 1;
  animation: fadeIn ease 0.5s;
}

.header__qr::before {
  position: absolute;
  content: "";
  width: 100%;
  height: 20px;
  display: block;
  top: -10px;
  left: 0;
}

.header__qr-img {
  width: 100%;
}

.header__qr-apps {
  display: flex;
  justify-content: space-between;
}

.header__qr-link:first-child {
  margin-left: 10px;
}

.header__qr-link:last-child {
  margin-right: 10px;
}

.header__qr-download-img {
  height: 17px;
}

/* Header notification */
.header__notify-link-resize-img {
  height: 15px;
}

.header__notify {
  position: absolute;
  top: 100%;
  width: 400px;
  background-color: var(--white-color);
  right: 0;
  border: rgb(203, 201, 201) solid 0.5px;
  cursor: default;
  animation: headerNotifyGrowth ease-in 0.5s;
  transform-origin: calc(100% - 27px) top;
  display: none;
  will-change: opacity, transform;
  z-index: 100;
}

.header__notify::before {
  content: "";
  border: 15px solid;
  position: absolute;
  border-color: transparent transparent var(--white-color) transparent;
  right: 27px;
  top: -27px;
}

@keyframes headerNotifyGrowth {
  from {
    opacity: 0;
    transform: scale(0);
  }

  to {
    opacity: 1;
    transform: scale(1);
  }
}

.header__notify-header {
  height: 40px;
  background-color: var(--white-color);
}

.header__notify-header h3 {
  color: gray;
  margin: 0;
  font-weight: 400;
  font-size: 1rem;
  line-height: 40px;
  margin: 0 0 0 12px;
  user-select: none;
}

.header__notify-list {
  padding-left: 0;
}

.header__notify-item {
  display: flex;
}

.header__notify-item:hover {
  background-color: rgba(96, 91, 91, 0.2);
}


.header__notify-item--viewed {
  background-color: rgba(235, 71, 21, 0.3);
}

.header__notify-link {
  display: flex;
  padding: 12px;
  background-color: rgba(235, 71, 21, 0.1);
  text-decoration: none;
  width: 100%;
}

.header__notify-img {
  height: 56px;
  width: 56px;
  border-radius: 2px;
  object-fit: fill;
}

.header__notify-img-last {
  width: 40%;
}

.header__notify-info {
  margin-left: 1rem;
  line-height: 1.8rem;
  line-height: normal;
}

.header__notify-name {
  display: block;
  font-size: 1.05rem;
  color: black;
  font-weight: 700;
}

.header__notify-desc {
  display: block;
  color: var(--text-color);
  font-weight: 100;
  font-size: 0.89rem;
  margin-top: 6px;
}

.header__notify-footer {
  display: flex;
  margin-top: 0.6rem;
}

.header__notify-footer-btn {
  text-decoration: none;
  color: var(--text-color);
  margin: auto;
  font-size: 1rem;
  font-weight: 600;
}

.header__notify-footer-btn:hover {
  text-decoration: underline;
}

/* Modal */
.modal {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  display: flex;
  animation: fadeIn linear 0.5s;
}

.modal__overlay {
  position: absolute;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.3);
}

.modal__body {
  --grow-from: 70%;
  --grow-to: 100%;
  width: 500px;
  height: 500px;
  margin: auto;
  position: relative;
  z-index: 1;
  border-radius: 5px;
  animation: growth linear 0.1s;
}

/* Authentic modal */
.auth-form {
  padding: 15px;
  background-color: var(--white-color);
  border-radius: 4px;
  overflow: hidden;
}

.auth-form__container {
  padding: 10px;
}

.auth-form__header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 12px;
}

.auth-form__heading {
  font-size: 1.5rem;
  font-weight: 700;
  margin-top: 0;
}

.auth-form__switch-btn {
  font-size: 1rem;
  font-weight: 600;
  color: rgb(255, 85, 0);
  margin-top: -30px;
  cursor: pointer;
}

.auth-form__input {
  width: 95%;
  height: 40px;
  margin-top: 19px;
  padding: 0 10px;
}

.auth-form__aside {
  margin: 23px 0 70px 0;
  text-align: center;
}

.auth-form__controls {
  display: flex;
  justify-content: flex-end;
}

.auth-form__policy-text {
  color: var(--black-color);
}

.auth-form__text-link {
  text-decoration: none;
  color: #f63928;
}

.auth-form__social {
  margin: 10px 6px 3px 6px;
  display: flex;
  justify-content: space-around;
  background-color: rgba(128, 128, 128, 0.119);
  padding: 12px 0 12px 0;
}

.auth-form__help {
  display: flex;
  justify-content: flex-end;
}

.auth-form__help-link {
  text-decoration: none;
  font-size: 1rem;
}

.auth-form__help-separate {
  height: 15px;
  border: 0.07px solid #dfdfdf;
  margin: 0 10px;
}

.auth-form__help-forgot {
  color: orangered;
}

.auth-form__help-link-support {
  color: gray;
}

.auth-form__social--fb {
  color: #F5F5F5;
  background-color: #3A5A98;
  text-decoration: none;
}

.auth-form__social--gg {
  text-decoration: none;
  color: #666;
  background-color: rgb(255, 255, 255);
}

.auth-form__social-title {
  margin-left: 7px;
}

/* Header with search */
.header-with-search {
  height: var(--header-with-search-height);
  display: flex;
  margin: 0 8px;
}

.header__logo {
  width: 204px;
  cursor: pointer;
}

.header__logo-img {
  width: 150px;
}

.header__search {
  background-color: var(--white-color);
  height: 40px;
  width: 840px;
  border-radius: 2px;
  margin-top: 8px;
  display: flex;
  align-items: center;
}

.header__search-input-wrap {
  flex: 1;
  height: 100%;
  position: relative;
}

.header__search-input {
  flex: 1;
  width: 95%;
  height: 87%;
  border: none;
  color: var(--text-color);
  padding: 0 0 0 20px;
  margin-top: 1.7px;
  outline: none;
}

.header__search-selection {
  border-left: 1.5px solid #ccc;
  height: 30px;
  text-align: center;
  position: relative;
  padding-left: 10px;
  margin-top: 5px;
}

.header__search-selection::after {
  content: "";
  display: block;
  width: 90%;
  height: 20px;
  position: absolute;
  left: 0;
  opacity: 0;
}

.header__search-selection:hover {
  cursor: pointer;
}

.header__search-selection:hover .header__search-below-option {
  display: block;
}

.header__search-below-option {
  position: absolute;
  right: 0;
  top: 50%;
  background-color: white;
  padding-left: 0;
  width: 130px;
  box-shadow: 0 1px 2px rgba(128, 128, 128, 0.7);
  border-radius: 2px;
  display: none;
  animation: fadeIn ease-in 0.5s;
}

.header__search-below-option-item {
  list-style: none;
  line-height: 30px;
  padding-left: 5px;
  text-align: right;
}

.header__search-below-option-item:hover {
  background-color: #fafafa;
  cursor: pointer;
}

.header__search-below-option-item span {
  color: red;
}



.header__search-select-label {
  color: var(--text-color);
}



.header__search-selection i {
  color: gray;
  font-size: 11px;
  margin: 0 20px 0 6px;
}

/* overriding color */
/* .header__search-below-option-item i {
  color: blue;
} */


.header__search-btn-icon {
  background-color: rgba(0, 136, 255, 0.863);
  border-radius: 3px;
  border: none;
  width: 50px;
  height: 34px;
  margin-right: 3px;
}

.header__search-btn-icon:hover {
  background-color: #f53e2d;
  cursor: pointer;
  transition: background-color 0.3s linear;
}

.header__search-btn-icon i {
  color: white;
  font-size: 20px;
}

.search-text {
  width: 95%;
}

.header__cart {
  flex: 1;
  justify-content: center;
  align-items: center;
  display: flex;
}

.header__cart-wrap {
  position: relative;
  padding: 1px 7px;
}

.header__cart-wrap:hover .header__cart-list {
  display: block;
  cursor: pointer;
  animation: fadeIn linear 0.6s;
}

.header__cart i {
  font-size: 27px;
  color: whitesmoke;
}

.header__cart i:hover {
  cursor: pointer;
}

.header__cart-list {
  position: absolute;
  top: 145%;
  right: -10%;
  width: 400px;
  height: 370px;
  background-color: var(--white-color);
  border-radius: 2px;
  box-shadow: 0 2px 5px #999;
  display: none;
  z-index: 1;
}

.header__cart-list::before {
  content: "";
  position: absolute;
  top: -34px;
  right: 4px;
  border-width: 20px;
  border-style: solid;
  border-image: initial;
  border-color: transparent transparent var(--white-color) transparent;
  padding-left: 3px;
}

.header__cart-list--no-cart {
  padding: 10px;
}

.header__cart-list--no-cart .header__cart-list--no-cart-img,
.header__cart-list--no-cart .header__cart-list-no-cart-no-product-yet {
  display: block;
}

.header__cart-list--no-cart-img {
  width: 100%;
  height: 94%;
  cursor: default;
  display: none;
}

.header__cart-list-no-cart-no-product-yet {
  color: red;
  display: block;
  text-align: center;
  font-size: 1.4rem;
  cursor: text;
  display: none;
}

.header__cart-notice {
  color: orangered;
  font-size: 15px;
  background-color: whitesmoke;
  padding: 1px 6px;
  position: absolute;
  right: -6px;
  top: -10px;
  border-radius: 100%;
}

.header__cart-heading {
  font-size: 15px;
  margin: 10px 0 0 12px;
  color: #666;
  font-weight: 600;
  cursor: default;
}

.header__cart-list-item {
  list-style: none;
  padding-left: 0;
  margin: 10px 0;

}

.header__cart-item {
  display: flex;
}

.header__cart-item:hover {
  background-color: #99999926;
}

.header__cart-img {
  height: 50px;
  width: 50px;
  margin: 8px 12px;
  border: 1px solid rgba(128, 128, 128, 0.719);
}

.header__cart-item-info {
  width: 100%;
  margin-right: 12px;
}

.header__cart-item-head {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.header__cart-item-name {
  margin: 10px 0;
  font-size: 16px;
  font-weight: 900;
  padding-right: 6px;
  flex: 1;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 2;
  overflow: hidden;
}

.header__cart-item-price {
  color: orangered;
}

.header__cart-item-mutiply {
  color: #999;
  font-size: small;
  font-weight: bold;
}

.header__cart-item-qnt {
  color: rgb(13, 0, 255);
  font-size: 16px;
  font-weight: 600;
}

.header__cart-item-body {
  display: flex;
  justify-content: space-between;
}

.header__cart-item-desc {
  font-size: 14px;
  color: #666;
  font-weight: 300;
}

.header__cart-item-remove:hover {
  color: #f53e2d;
  cursor: pointer;
  text-decoration: underline;
}

.header__cart-view-cart {
  float: right;
  margin-right: 10px;
  overflow-y: auto;
}

/* Javascript display register form when click */
.modal {
  display: none;
}

.display {
  display: block;
}

/* Search history */
.header__search-input:focus~.header__search-history {
  display: block;
}

.header__search-history {
  position: absolute;
  top: 105%;
  width: 630px;
  background-color: white;
  box-shadow: 0 1px 4px rgba(128, 128, 128, 0.7);
  border-radius: 3px;
  display: none;
  overflow: hidden;
  z-index: 1;
}

.header__search-history-heading {
  margin: 5px 12px;
  font-size: 1rem;
  color: #999;
  font-weight: 500;
}

.header__search-history-list {
  list-style: none;
  padding-left: 0;
  margin: 10px 0 0 0;
}

.header__search-history-item {
  padding: 0 13px;
  height: 38px;
  display: flex;
  align-items: center;
}

.header__search-history-item:hover {
  background-color: #f0f0f0;
  cursor: pointer;
}

.header__search-history-item a {
  text-decoration: none;
  color: var(--text-color);
  /* why don't it apply? :(((( */
  display: block;
}

/* App container */
.app__container {
  background-color: rgba(245, 245, 245, 0.8);
}

.app__content {
  padding-top: 35px;
}

.category {
  background-color: rgb(255, 255, 255);
  border-radius: 2px;
  border: 0.1px solid #99999922;
  box-shadow: 0 1px 3px #ccc;
  width: 200px;
}

.category-heading {
  font-size: 1.4rem;
  padding: 0 19px;
  margin: 19px 0;
  display: flex;
  align-items: center;
  border-bottom: 0.1px solid #999;
  padding-bottom: 15px;
}

.category-heading-icon {
  font-size: 1.1rem;
  margin-right: 10px;
}

.category-list {
  list-style: none;
  line-height: 23px;
  margin-bottom: 5px;
  padding-left: 30px;
  /* margin-left: 35px; */
}

/* category-item-link */
.category-item a {
  text-decoration: none;
  color: rgb(61, 68, 78);
  display: block;
  font-size: 1.1rem;
  position: relative;
  transition: right linear 0.1s;
  right: 0;
  margin: 6px 0;
}

.category-item--active a::before {
  content: "";
  position: absolute;
  border: 6px solid;
  left: -15px;
  top: 50%;
  transform: translateY(-50%);
  border-color: transparent transparent transparent blue;
}

.category-item a:hover {
  color: orangered;
  right: -4px;
}

.category-item--active a {
  color: orangered;
}

.category-item:nth-child(2) {
  border-top: 0.1px solid #dbdbdb;
}

.category-item:last-child {
  border-top: 0.1px solid #dbdbdb;
}

/* Home sort +filter */
.home-filter {
  background-color: rgba(200, 200, 200, 0.35);
  display: flex;
  align-items: center;
  padding: 15px 10px;
  border-radius: 2px;
}

.home-filter__label {
  font-size: 1rem;
  color: #555;
  margin: 0 18px 0 13px;
}

.home-filter__btn {
  margin-right: 14px;
}

.home-filter__btn:hover {
  background-color: orangered;
  color: white;
  animation: fadeIn linear 0.2s;
}

.home-filter__btn-special {
  margin-right: 13px;
}

.home-filter__page {
  display: flex;
  align-items: center;
  margin-left: auto;
}

.home-filter__page-num {
  font-size: 1.1rem;
  margin-right: 20px;
}

.home-filter__page-current {
  color: orangered;
}

.home-filter__page-control a {
  text-decoration: none;
}

.home-filter__page-btn:first-child {
  cursor: default;
  padding: 10px 10px;
  border-top-left-radius: 3px;
  border-bottom-left-radius: 3px;
}

.home-filter__page-btn:last-child {
  background-color: #99999947;
  border-top-right-radius: 3px;
  border-bottom-right-radius: 3px;
}

.home-filter__page-btn:last-child:hover {
  background-color: white;
  animation: fadeIn linear 0.2s;
}

.home-filter__page-btn {
  background-color: white;
  margin: 0 1px;
  padding: 10px 12px;
}

.home-filter__page-btn i {
  font-size: 13px;
}


/* Product item */
.home-product {
  padding-bottom: 40px;
}

.home-product-item {
  display: block;
  text-decoration: none;
  background-color: white;
  margin-top: 15px;
  position: relative;
  height: 95%;
  padding-bottom: 6.5px;
  transition: transform linear 0.2s;
  will-change: transform;
}

.home-product-item:hover {
  cursor: pointer;
  box-shadow: 0 0 4px red;
  transform: translateY(-3px);
}

.home-product-item__img {
  padding-top: 100%;
  background-repeat: no-repeat;
  background-size: contain;
}

.home-product-item__name {
  color: rgb(41, 41, 41);
  font-weight: 600;
  line-height: 1.2rem;
  margin: 9px 9px 6px;
  height: 40px;
  display: block;
  overflow: hidden;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 2;
}

.home-product-item__price {
  color: #666;
  display: flex;
  flex-wrap: wrap;
}

.home-product-item__price-old {
  text-decoration: line-through;
  font-size: 1rem;
  margin-left: 10px;
}

.home-product-item__price-current {
  color: rgb(253, 53, 13);
  margin-left: 10px;
  font-size: 1.1rem;
  margin-left: 10px;
}

.home-product-item__action {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 5px 10px;
}

.home-product-item__like {
  font-size: 15px;
}

i.home-product-item__like-icon-fill {
  display: none;
}

.home-product-item__like-icon-fill {
  color: rgb(246, 61, 48);
}

.home-product-item__like--liked .home-product-item__like-icon-fill {
  display: inline-block;
}

.home-product-item__like--liked .home-product-item__like-icon-empty {
  display: none;
}

.home-product-item__rating {
  font-size: 9px;
  color: rgb(179, 179, 179);
  margin-left: auto;
}

.home-product-item__star--gold {
  color: rgb(255, 206, 62);
}

.home-product-item__sold {
  font-size: 14px;
  color: var(--text-color);
  margin-left: 5px;
  margin-right: -3px;
}

.home-product-item__origin {
  display: flex;
  justify-content: space-between;
  margin: 0 10px;
}

.home-product-item__brand {
  font-size: 0.9rem;
}

.home-product-item__origin-name {
  font-size: 0.9rem;
  color: #999;
}

.home-product-item__favorite {
  position: absolute;
  top: 9px;
  left: -5px;
  color: rgb(0, 81, 255);
  background-color: currentColor;
  font-size: 13px;
  padding: 1px 5px;
  border-top-right-radius: 2px;
  border-bottom-right-radius: 3px;
}

.home-product-item__favorite::before {
  content: "";
  position: absolute;
  border-top: 4px solid currentColor;
  border-left: 4px solid transparent;
  left: 0;
  bottom: -4px;
  filter: brightness(60%);
}

.home-product-item__favorite i {
  font-size: 10px;
  color: white;
}

.home-product-item__favorite span {
  color: white;
}

.home-product-item__sale-off {
  position: absolute;
  right: 0;
  top: 0;
  background-color: rgba(255, 219, 75, 0.7);
  width: 40px;
  height: 33px;
  text-align: center;
}

.home-product-item__sale-off::after {
  content: "";
  position: absolute;
  border-width: 0 20px 8px;
  border-style: solid;
  border-color: transparent rgba(255, 219, 75, 0.7) transparent rgba(255, 219, 75, 0.7);
  right: 0;
  top: 100%;
}

.home-product-item__sale-off-percent {
  font-size: 14px;
  color: orangered;
}

.home-product-item__sale-off-label {
  font-size: 11.5px;
}

.obs-tuong {
  width: 100%;
  height: 186px;
  background-size: contain;
}

/* Footer */
.footer {
  border-top: 4px solid orangered;
  padding-top: 25px;
}

.footer-heading {
  font-size: 15px;
  margin: 20px 0 27px;
}

.footer-list {
  list-style: none;
  padding-left: 0;
}

.footer-item__link {
  text-decoration: none;
  color: rgb(118, 110, 120);
}

.footer-item__link:hover {
  color: orangered;
}

.footer-item {
  margin: 15px 0;
}

.footer__downnload {
  display: flex;
}

.footer__downnload-apps {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}

.footer__downnload-qr {
  background-color: white;
  border-radius: 2px;
  margin-right: 10px;
  box-shadow: 0 1px 2px gray;
  cursor: pointer;
}

.footer__downnload-apps-img {
  background-color: white;
  border-radius: 2px;
  box-shadow: 0 1px 2px gray;
  cursor: pointer;
}

.footer__bottom {
  background-color: #e6e6e6;
  padding-top: 0.5px;
  padding-bottom: 1px;
  margin-top: 40px;
}

.footer__text {
  font-size: 13.5px;
  text-align: center;
}